.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.row {
  display: flex;
  width: 100%;
  height: 50px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border: 1px solid black;
}

.redlight-highlight {
  background-color: rgba(209, 25, 25, 0.514);
}

.red-highlight {
  background-color: rgba(209, 25, 25, 0.514);
}

.green-highlight {
  background-color: rgba(12, 243, 4, 0.747);
}

.blue-highlight {
  background-color: rgba(10, 72, 207, 0.596);
}

.yellow-highlight {
  background-color: rgba(223, 219, 17, 0.555);
}

.grey-highlight {
  background-color: rgba(68, 68, 68, 0.589);
}

.image-container {
  position: relative;
}

.small-image {
  position: absolute;
  top: 0;
  right: 0;
}
